.editor .ck-editor,
.editor .ck-editor__main,
.editor .ck-editor__editable {
  min-height: 70vh;
}

/* heading 1 */
.editor h2 {
  font-weight: 700;
  font-size: 3.1em;
}
/* heading 2 */
.editor h3 {
  font-weight: 600;
  font-size: 2.6em;
}
/* heading 3 */
.editor h4 {
  font-weight: 500;
  font-size: 2.2em;
}
/* Paragraph */
.editor p {
  font-weight: normal;
  font-size: 1em;
}

.editor a {
  color: #0000ff;
}
.editor a:hover {
  text-decoration: underline;
}
