.editor .ck-editor,
.editor .ck-editor__main,
.editor .ck-editor__editable {
  min-height: 70vh;
}

/* heading 1 */
.editor h2 {
  font-weight: 700;
  font-size: 2em;
  line-height: 2em;
}
/* heading 2 */
.editor h3 {
  font-weight: 600;
  font-size: 1.6em;
  line-height: 1.6em;
}
/* heading 3 */
.editor h4 {
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.5em;
}
/* Paragraph */
.editor p {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em;
}

.editor a {
  color: #0000ff;
}
.editor a:hover {
  text-decoration: underline;
}
.editor ul,
.editor ol {
  padding-left: 2em;
}
.editor ul li {
  list-style: circle;
}
.editor ol li {
  list-style-type: decimal;
}

.editor figure,
.editor oembed,
.editor embed {
  height: 300px;
  width: 100%;
}
