/* eslint-disable @tailwindcss/no-custom-classname, @apply */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-light: #ad00c4;
  --primary-dark: #4e0058;
  --dark-text: #121212;
  --dark: #000000;
  --dim: #160018;
  --light: #fefdfe;
}

@layer components {
  .app-theme {
    @apply dim:bg-dim dim:text-light dark:text-light dark:bg-dark bg-light text-text-dark;
  }
  .app-theme-opposite {
    @apply dim:bg-light dim:text-text-dark dark:text-text-dark dark:bg-light bg-dark text-light;
  }
  .app-shadows {
    @apply dim:shadow-[#0000005d] dark:shadow-[#dddddd22] shadow-[#00000055];
  }
  .app-borders {
    @apply dim:border-[#ffffff11] dark:border-[#ffffff11] border-[#00000011];
  }
  .app-btn {
    @apply bg-gradient-to-br from-transparent to-[#00000033] rounded-md shadow dark:shadow-[#dddddd22] px-4 py-2 border-2 font-[500] border-transparent bg-primary-dark dark:bg-primary-light dim:bg-primary-light cursor-pointer text-light dim:text-text-dark dark:text-text-dark;
  }
  .app-btn:disabled,
  .app-btn-bordered:disabled {
    @apply pointer-events-none opacity-50;
  }
  .app-btn:hover {
    @apply bg-transparent border-dark dim:border-light dark:border-light text-inherit scale-[1.02];
  }
  .app-btn:active {
    @apply scale-75;
  }
  .app-btn-bordered {
    @apply rounded-md shadow px-4 py-2 border-2 font-[500] border-dark text-text-dark bg-transparent cursor-pointer dim:text-light dark:text-light dim:border-light dark:border-light shadow-[#00000055] dim:shadow-[#000000aa] dark:shadow-[#dddddd22];
  }
  .app-btn-bordered:hover {
    @apply border-primary-dark text-primary-dark dim:border-primary-light dim:text-primary-light dark:text-primary-light dark:border-primary-light;
  }
  .app-btn-bordered:active {
    @apply scale-75;
  }
  .app-text-field {
    @apply border rounded-md border-[#00000011] dim:border-[#ffffff11] dark:border-[#ffffff11] px-4 py-2 bg-transparent text-inherit w-full mb-5 outline-primary-dark dark:outline-primary-light dim:outline-primary-light;
  }
  .app-navlink {
    @apply font-[500] text-lg hover:underline inline-block me-3 underline-offset-4;
  }
  .app-navlink:hover {
    @apply text-primary-dark dark:text-primary-light dim:text-primary-light;
  }
  .app-container {
    @apply container px-4 sm:px-8 flex flex-wrap mx-auto;
  }
  .app-bg-opacity {
    @apply bg-opacity-60 dim:bg-opacity-60 dark:bg-opacity-60;
  }
  .app-primary-text {
    @apply text-primary-dark dark:text-primary-light dim:text-primary-light;
  }
  .app-text-error {
    @apply text-red-600 dim:text-red-300 dark:text-red-300;
  }
  .app-bg-error {
    @apply bg-red-300 text-text-dark;
  }
  .app-text-success {
    @apply text-green-600 dim:text-green-300 dark:text-green-300;
  }
  .app-bg-success {
    @apply bg-green-300 text-text-dark;
  }
  .dashboard-link {
    @apply hover:bg-[#00000022] dim:hover:bg-[#eeeeee22] dark:hover:bg-[#eeeeee22] rounded-lg px-3 py-2 flex gap-3 items-center font-[600];
  }
  .page-title {
    @apply text-2xl font-bold py-2 border-b app-borders px-3 sticky top-0 w-full;
  }
  .app-icon-button {
    @apply w-10 h-10 rounded-full flex items-center justify-center hover:bg-[#00000022] dim:hover:bg-[#eeeeee22] dark:hover:bg-[#eeeeee22];
  }
}

* {
  transition: all .3s ease;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.no-animate,
.rt-DropdownMenuContent,
[data-radix-popper-content-wrapper],
.no-animate * {
  transition: all 0s ease;
}

.app-loader > .dot {
  animation: loader .8s infinite;
  animation-delay: calc(var(--delay) * .2s);
}

@keyframes loader {
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
}
